doctype html
html
  head
    base(href="/")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy", crossorigin="anonymous")  
    link(href='dist/styles.9c0ad738f18adc3d19ed.bundle.css', rel='stylesheet')
  body
    
    ol.breadcrumb
      li.breadcrumb-item
        a(href='/') Home
          
        if session.user.id
          |&nbsp;|&nbsp;
          //- a(href="/users") Users
          //- |&nbsp;|&nbsp;
          //- a(href="/posts") Posts 
          //- |&nbsp;|&nbsp;
          a(href="/cms") CMS
          |&nbsp;|&nbsp;
          a(href="/users/logout") Log Out
        else 
          |&nbsp;|&nbsp;
          a(href="/users/login") Log In
    //- nav(aria-label='breadcrumb') 
    //-   a(href="/") Home
    //-   |&nbsp;|&nbsp;
    //-   if session.user.id
    //-     a(href="/users") Users 
    //-     |&nbsp;|&nbsp;
    //-     a(href="/users/logout") Log Out
    //-   else 
    //-     a(href="/users/login") Log In
    
    main
      block content
      
    script(defer, src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")
