extends ../layout

block content

  app-root
  script(type='text/javascript', src='dist/inline.1c3ba1c36d9bee9596ea.bundle.js')
  script(type='text/javascript', src='dist/polyfills.f20484b2fa4642e0dca8.bundle.js')
  script(type='text/javascript', src='dist/main.53eb0d6e96bd7bb9a12f.bundle.js')
