extends ../layout

block content
  h1= title

  a.button(href="#users" onclick="viewIndex()") All Users
  span &nbsp;&nbsp;
  a.button(href="#create" onclick="createUser()") Create
  //- span &nbsp;&nbsp;
  //- a.button(href="#delete" onclick="delete()") Delete
  
  div#app
    
  script(src='/javascripts/user_app.js')
